*{
  font-family: 'Montserrat', sans-serif;

}
body{
  background: #f4f4f4;
}

.banner-desktop {
  filter: brightness(60%);
}
.banner-mobile {
  filter: brightness(60%);
}

.video{
  width: 35%;
}

.container-video{
  text-align: center;
}

.titulo-principal{
  font-size: 70px
}

.carousel-caption{
  bottom: 8.25rem;
}

.container-text{
  display: flex;
  align-items: center;
}

.section{
  text-align: center;
  background: white;
  border-radius: 5px;
}

@media (max-width: 990px){
  .titulo-principal{
    font-size: 50px;
  }
}

@media (max-width: 767px){
  .banner-desktop{
    display: none;
  }
  .carousel-caption{
    left: 0;
    right: 0;
  }
}

@media (min-width: 768px){
  .banner-mobile{
    display: none;
  }
}